* {
  box-sizing: border-box;
  font-family: Arial;
  color: orange;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("https://image2url.com/r2/default/images/1769278932391-77dd394f-45ac-4cd6-ac49-7c7d34430f1d.png");
  background-size: cover;
  background-position: center;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 5px;
  width: 90%;
}

.login-box {
  max-width: 300px;
  margin: 120px auto;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.folder {
  background: rgba(0,0,0,0.6);
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
}

a {
  color: orange;
  text-decoration: none;
}

@media (max-width: 600px) {
  input, button {
    width: 100%;
  }
}
